@import './Colors.css';
@import './Fonts.css';

.about-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color);
  display: flex;
  font-family: var(--card-font);
  font-size: 20px;
  height: 100vh;
  justify-content: center;
}

.about-title {
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
  width: 200px;
}